@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
:root {
    --background: #e0e0e0;
    --foreground: #e48435;
}

body {
    font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
    border-top: 5px solid var(--foreground);
}
footer {
    background: var(--background);
    color: var(--foreground);
    text-align: center;
    padding: 10px;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content:flex-end;
    flex-direction: row;
}
nav ul > li {
    margin-right: 15px;
    padding: 14px 16px;
}
nav ul > li > button.ui.button,
nav ul > li > button.ui.button:hover,
nav ul > li > button.ui.button:focus,
nav ul > li > button.ui.button:active {
    color: var(--background);
    border: 3px solid var(--foreground);
    background: var(--foreground);
}
nav ul > li:first-child button.ui.button {
    color: var(--foreground);
    background: var(--background);
}
main {
    min-height: 82vh;
}
