@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
* {
    margin:0;
    padding: 0;
}


body {
    font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
    border-top: 5px solid var(--orange);
}
footer {
    background: var(--background);
    color: var(--orange);
    text-align: center;
    padding: 10px;
}
footer > p {
    margin: 0;
}
main {
    min-height: 82vh;
}
